.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.courseCard {
  border: 2px solid black;
  width: 20vw;
  height: 30vh;
  margin: 5vw;
}

.ImagePlaceholder {
  /* position: relative; */
  /* border: solid white; */
  margin-left: 2.5vw;
  height: 20vh;
  width: 15vw;
  background-color: black;
  opacity: 90%;
}

.learningCenter {
  display: flex;
}

.loginForm {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: beige;
}